---
import { getCollection, getEntry } from 'astro:content'
import { css } from 'styled-system/css'
import { container } from 'styled-system/patterns'

import { Github, Linkedin, Mail, Phone } from '@/components/icons'
import { H1, H2, H3 } from '@/components/typography'
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/utils/formatDate'

export const prerender = true

const workHistory = await getCollection('work-history')
const experience = workHistory.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime()
)
const {
  data: { name, socials, education, email, phone }
} = await getEntry('resume-data', 'index')

const h2Styles = css({
  pb: 4
})
---

<Layout title='Resume'>
  <div id='resume' class={container({ maxW: '4xl' })}>
    <div
      class={css({
        display: 'flex',
        justifyContent: 'space-between',
        pb: 14
      })}
    >
      <div>
        <H1 class={css({ pb: 2 })}>{name}</H1>
        <div>
          <a href={socials['github'].url} aria-label={socials['github'].name}>
            <Github class={css({ display: 'inline-block' })} client:load />
          </a>
          <a
            href={socials['linkedin'].url}
            aria-label={socials['linkedin'].name}
          >
            <Linkedin class={css({ display: 'inline-block' })} client:load />
          </a>
        </div>
      </div>
      <div
        class={css({
          display: 'flex',
          flexDirection: 'column'
        })}
      >
        <a href='tel:519-670-9056'
          ><Phone class={css({ display: 'inline-block' })} client:load />
           519-670-9056</a
        >
        <a href='mailto:xander@xandydandy.com'
          ><Mail class={css({ display: 'inline-block' })} client:load />
           xander@xandydandy.com</a
        >
      </div>
    </div>
    <H2 class={h2Styles}>Experience</H2>
    {
      experience.map(
        ({ data: { client, startDate, endDate, responsibilities, role } }) => {
          return (
            <div>
              <H3 class={css({ pb: 1 })}>
                {client} &mdash; {role}
              </H3>
              <p class={css({ pb: 2 })}>
                {formatDate(startDate)} - {formatDate(endDate)}
              </p>
              <ul class={css({ pb: 10 })}>
                {responsibilities.map(responsibility => (
                  <li class={css({ listStyle: 'inside' })}>{responsibility}</li>
                ))}
              </ul>
            </div>
          )
        }
      )
    }
    <H2 class={h2Styles}>Education</H2>
    <H3>{education.school}</H3>
    <p>{education.program}</p>
    <p>{formatDate(education.startDate)} - {formatDate(education.endDate)}</p>
    <p>
      {education.description}
    </p>
    <!-- TODO: complete PDF renderer -->
    <!-- <a class={css({ mt: 12 })} href='/api/resume' download>download</a> -->
  </div>
</Layout>
