---
import { getCollection, getEntry } from "astro:content";

import { Github, Linkedin, Mail, Phone } from "@/components/icons";
import { H1, H2, H3 } from "@/components/typography";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@/utils/formatDate";
import { chunk } from "@/utils/chunk";

const workHistory = await getCollection("work-history");
const experience = workHistory.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
);
const {
  data: { name, socials, education, email, phone, skills },
} = await getEntry("resume-data", "i");

const skillColumns = chunk(skills, 4);

const h2Styles = "pb-4";
---

<Layout title="Resume">
  <div id="resume" class="container mx-auto max-w-4xl">
    <div class="flex justify-between pb-7">
      <div>
        <H1 class="pb-2">{name}</H1>
        <div>
          <a href={socials["github"].url} aria-label={socials["github"].name}>
            <Github class="inline-block" client:load />
          </a>
          <a
            href={socials["linkedin"].url}
            aria-label={socials["linkedin"].name}
          >
            <Linkedin class="inline-block" client:load />
          </a>
        </div>
      </div>
      <div class="flex flex-col">
        <a href={`tel:${phone}`}
          ><Phone class="inline-block" client:load />
          {phone}</a
        >
        <a href={`mailto:${email}`}
          ><Mail class="inline-block" client:load />
          {email}</a
        >
      </div>
    </div>
    <hr class="mb-7" />
    <H2 class={h2Styles}>Skills</H2>
    <div class="mb-6 grid grid-cols-4 gap-4">
      {
        skillColumns.map((skills) => (
          <div class="flex flex-col">
            {skills.map((skill) => (
              <p>{skill}</p>
            ))}
          </div>
        ))
      }
    </div>

    <H2 class={h2Styles}>Experience</H2>
    {
      experience.map(
        ({ data: { client, startDate, endDate, responsibilities, role } }) => {
          return (
            <div>
              <H3 class="pb-1">
                {client} &mdash; {role}
              </H3>
              <p class="pb-2">
                {formatDate(startDate)} - {formatDate(endDate)}
              </p>
              <ul class="pb-10">
                {responsibilities.map((responsibility) => (
                  <li class="list-inside">{responsibility}</li>
                ))}
              </ul>
            </div>
          );
        },
      )
    }
    <H2 class={h2Styles}>Education</H2>
    <H3>{education.school}</H3>
    <p>{education.program}</p>
    <p>{formatDate(education.startDate)} - {formatDate(education.endDate)}</p>
    <p>
      {education.description}
    </p>
  </div>
</Layout>
