---
import '@/styles/prism-theme.css';

import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { css } from 'styled-system/css';
import { flex } from 'styled-system/patterns';

import { H1 } from '@/components/Headings';
import { components } from '@/components/MDXComponents';
import Layout from '@/layouts/Layout.astro';

export const prerender = true;

export const getStaticPaths: GetStaticPaths = async () => {
  const writing = await getCollection('writing');

  return writing.map(entry => {
    return {
      params: {
        slug: entry.slug,
      },
      props: {
        entry,
      },
    };
  });
};

interface Props {
  entry: CollectionEntry<'writing'>;
}

const { entry } = Astro.props;
const { data, render } = entry;
const { Content } = await render();
const { title, date, description } = data;
const dateFormatted = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'long',
}).format(new Date(date));
---

<Layout title={title} description={description} maxW='2xl'>
  <div class={flex({ direction: 'column', gap: 2 })}>
    <H1>{title}</H1>
    <span class={css({ fontSize: 'md' })}>{dateFormatted}</span>
    <hr class={css({ borderColor: 'red.300', mb: 2 })} />
    <Content components={components} />
  </div>
</Layout>
